<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>nops</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>th1</servlet-name>
    <jsp-file>/WEB-INF/views/Thanuja/adminPage1.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>th1</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>th</servlet-name>
    <jsp-file>/WEB-INF/views/test.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>th</servlet-name>
    <url-pattern>/voter</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>th2</servlet-name>
    <jsp-file>/WEB-INF/views/Thanuja/adminPage2PartyTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>th2</servlet-name>
    <url-pattern>/thTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>th3</servlet-name>
    <jsp-file>/WEB-INF/views/Thanuja/addPPForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>th3</servlet-name>
    <url-pattern>/thAddPPForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>voterTable</servlet-name>
    <jsp-file>/WEB-INF/views/Imal/voterTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>voterTable</servlet-name>
    <url-pattern>/voterTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addVoterForm</servlet-name>
    <jsp-file>/WEB-INF/views/Imal/registerVoterForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addVoterForm</servlet-name>
    <url-pattern>/addVoterForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>candidateTable</servlet-name>
    <jsp-file>/WEB-INF/views/Nuwanga/candidateTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>candidateTable</servlet-name>
    <url-pattern>/candidateTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>voterPage</servlet-name>
    <jsp-file>/WEB-INF/views/Nuwanga/voterPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>voterPage</servlet-name>
    <url-pattern>/voterPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerCandidateForm</servlet-name>
    <jsp-file>/WEB-INF/views/Nuwanga/registerCandidateForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerCandidateForm</servlet-name>
    <url-pattern>/registerCandidateForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editCandidateForm</servlet-name>
    <jsp-file>/WEB-INF/views/Nuwanga/editCandidateForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>editCandidateForm</servlet-name>
    <url-pattern>/editCandidateForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ElectionTable</servlet-name>
    <jsp-file>/WEB-INF/views/Heshan/ElectionTable.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectionTable</servlet-name>
    <url-pattern>/ElectionTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>edit</servlet-name>
    <jsp-file>/WEB-INF/views/Heshan/editElectionForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>register</servlet-name>
    <jsp-file>/WEB-INF/views/Heshan/RegisterElection.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thLogin</servlet-name>
    <jsp-file>/WEB-INF/views/Thanuja/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>thLogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>thLoginAdmin</servlet-name>
    <jsp-file>/WEB-INF/views/Thanuja/loginAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>thLoginAdmin</servlet-name>
    <url-pattern>/loginAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ElectionResultUI</servlet-name>
    <jsp-file>/WEB-INF/views/Imal/ElectionResultUI.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ElectionResultUI</servlet-name>
    <url-pattern>/ElectionResultUI</url-pattern>
  </servlet-mapping>
  
</web-app>